#The 2015 Hapalua
##Honolulu Half-Marathon

In [6]:
import pandas as pd
from pandas import Series, DataFrame, Panel
import matplotlib.pyplot as plt
import matplotlib as mpl

In [7]:
import pickle
fh = open('hapalua.pk', 'rb')
df = pickle.load(fh)
fh.close()

Drop rows without a finish time or catgeory

In [8]:
runners = df.dropna(subset=['time', 'category'])

In [9]:
runners.describe()

,10k,15k,5k,bib,pace,place,time
count,4732,4773,4792,4817.000000,4817,4817.000000,4817
mean,0 days 01:09:43.708368,0 days 01:47:10.126126,0 days 00:34:24.428631,3427.149678,0 days 00:11:52.190782,2409.000000,0 days 02:35:23.660369
std,0 days 00:15:42.999831,0 days 00:24:17.101076,0 days 00:07:44.198635,1885.388939,0 days 00:02:48.622488,1390.692453,0 days 00:36:48.953325
min,0 days 00:37:30,0 days 00:56:46,0 days 00:18:14,31.000000,0 days 00:06:06,1.000000,0 days 01:19:52
25%,0 days 00:58:36,0 days 01:29:29,0 days 00:29:14,1752.000000,0 days 00:09:48,1205.000000,0 days 02:08:22
50%,0 days 01:07:20.500000,0 days 01:43:36,0 days 00:33:20.500000,3594.000000,0 days 00:11:23,2409.000000,0 days 02:29:02
75%,0 days 01:18:06.250000,0 days 02:01:03,0 days 00:38:05,5054.000000,0 days 00:13:30,3613.000000,0 days 02:56:45
max,0 days 02:08:13,0 days 03:14:02,0 days 01:15:35,6500.000000,0 days 00:24:37,4817.000000,0 days 05:22:17